tbody#states a:hover {
    text-decoration: none;
}

.datapoles {
    width: 130px;
    margin: auto;
    padding-left: 0;
}

.datapole {
    display: inline-block;
    width: 7px;
    height: 20px;
    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    border-radius: 1px;
}

.cta-button {
  font-size: 30px;
}

td.grade {
    text-align: center;
    font-weight: bold;
    background-color: lightgray;
}
    td.grade a {
        display: block;
        color: #000;
    }
td.grade-A, td.grade-A\00002B, td.grade-A\002212, td.grade-A− {
    background-color: #3c3;
}
td.grade-B, td.grade-B\00002B, td.grade-B\002212, td.grade-B− {
    background-color: #adff2f;
}
td.grade-C, td.grade-C\00002B, td.grade-C\002212, td.grade-C− {
    background-color: yellow;
}
td.grade-D, td.grade-D\00002B, td.grade-D\002212, td.grade-D− {
    background-color: orange;
}
td.grade-F {
    background-color: #c33;
}
